/***********************************
Author: Eduardo López Arce Vivas
email: eduardo.lopezarce@gmail.com
***********************************/

/********GENERAL RULES********/
/* rules for all index*/
*{
	margin:0px auto;
	padding: 0px;
	font-family: Helvetica, arial, sans-serif;
}
/* rules for body*/
body{
	text-align:center;
}
/* rules for Anchor*/
a{
	text-decoration: none;
	outline:none;
}
/********RULES FOR TABLE WITH MENU CONTENT********/
#tabmenu{
	text-align:center;	
	background-color: rgba(3,3,3,0.9);
	-moz-box-shadow:    inset  0  15px 15px -8px #696868, 
                        inset  0 -15px 15px -8px #696868;
    -webkit-box-shadow: inset  0  15px 15px -8px #696868, 
                        inset  0 -15px 15px -8px #696868;
     box-shadow:        inset  0  15px 15px -8px #696868, 
                        inset  0 -15px 15px -8px #696868;
	position: fixed;
	z-index: 2;
}
/********RULES FOR LOGO********/
/* rules for logo*/
.logo {
	width: 150px;
	text-align: center;
	margin: auto;
	padding: auto;
}
/* rules main title in logo*/
.logo #logo1 a{
	font-size: 40px;
	color: #00A8CB;	
	text-shadow: 0px 2px 3px #555;
}
/* rules main title in logo*/
.logo #logo2 a{
	font-size: 10px;
	color: #ccc;		
}
/* rules for logo IMAGE*/
.logo img{
	width: 150px;
	height: 80px;
}
/********RULES FOR NAVIGATION MENU********/
/* rules for all UNORDERED lists*/
ul#navmenu, ul.sub1{
	list-style-type:none;
	font-family: Helvetica, arial, sans-serif;
	font-size: 14px;
	/*outline: 1px solid red;*/
}
/* rules for MAIN LIST item*/
ul#navmenu li{
	/*border: 1px solid red;*/
	position: relative; /*very important step*/
	float: right;
	margin-right: 1%;
	margin-bottom: -10px;
}
/* rules for MAIN ANCHOR element*/
ul#navmenu a{
	font-weight: bold;
	text-decoration: none;
	display: block;
	color: #ddd;/*#002F64;*/
	text-align: center;		
	margin: 20px 20px;
	padding-bottom: 10px;
}
/* rules for ALL ANCHOR element -> MAIN LI hover*/
ul#navmenu li:hover >a{
	color: #00A8CB;
}
/* rules for SUB unordered lists*/
ul#navmenu ul.sub1{
	margin-top: -5px;
	display: none;
	position: absolute;
	z-index: 2;
	width: 220%;
	left: auto;
	right: auto;	
	margin-left: -55%;
	background-color: rgba(3,3,3,0.9);
	-webkit-border-radius: 0px 15px 0px 15px;
	-moz-border-radius: 0px 15px 0px 15px;
	border-radius: 0px 15px 0px 15px;
	-moz-box-shadow:    inset  0  15px 15px -8px #696868, 
                        inset  0 -15px 15px -8px #696868;
    -webkit-box-shadow: inset  0  15px 15px -8px #696868, 
                        inset  0 -15px 15px -8px #696868;
     box-shadow:        inset  0  15px 15px -8px #696868, 
                        inset  0 -15px 15px -8px #696868;
}
/* rules for SUB LIST item*/
ul#navmenu .sub1 li{
	width: 100%;
	-webkit-border-radius: 0px 15px 0px 15px;
	-moz-border-radius: 0px 15px 0px 15px;
	border-radius: 0px 15px 0px 15px;
	/**border: 1px solid green;*/
}
/* rules for SUB ANCHOR element*/
ul#navmenu .sub1 a{
	color: #ddd;
	width: 100%;
	margin: 5px auto;
	-webkit-border-radius: 0px 15px 0px 15px;
	-moz-border-radius: 0px 15px 0px 15px;
	border-radius: 0px 15px 0px 15px;
}
/* rules for SUB ANCHOR element -> SUB A and LI hover
ul#navmenu .sub1 li:hover a:hover{
	background-color: #FFF;
	width: 100%;
	box-shadow: 0 0 0 1px rgba(150,150,150,0.9) inset;
}
/* rules for ALL SUB elements -> MAIN LI hover*/
ul#navmenu li:hover .sub1{
	display: block;
}
/**********RULES FOR FLAGS**********/
#flags{
	margin: auto;
	padding-top: 10px;	
	/*background-repeat:no-repeat;
	position:absolute;
	padding-bottom: 50px;
	/*top: 5px;
	right: 5px;
	background-position:0 top right;*/
}
#flags img{
	margin: 0 2px;
}
#flags a span{
	display:none;
} 
/********RULES FOR IMAGE SLIDER********/
/*rules for all the content in text and image slider*/
.wrapper{
	width: 1000px;
	margin: 0 auto;
	padding-top: 82px;
	/*outline: 1px solid red;*/
}
/*Rules for image slider container*/
#slider{
	width: 500px;
	height: 400px;
	overflow: hidden;
	margin: 0px auto;
}
/*Rules for image slider images*/
#slider > img{
	position: relative;
	z-index: 1;
	width: 495px;
	height: 400px;
	float: left;
	display: none;
}
/*Rules for previous and next button (ANCHOR)*/
.wrapper a{
	padding: 5px 0px;
	background-color: #FFF;
	margin-top: 30px;
	text-decoration: none;
	color: #666;
	outline:none;
	width: 50px;
	position: relative;
	font-size: 50px;
}
/*Rules for left button*/
.left a{
	float: left;
}
/*Rules for right button*/
.right a{
	float: right;
}
/*Rules for left button while hover*/
.left a:hover{
	font-size: 60px;
	color: #00A8CB;
}
/*Rules for right button while hover*/
.right a:hover{
	font-size: 60px;
	color: #00A8CB;
}
/***********RULES FOR TEXT SLIDER****************/
/* rules for all content in slider*/
.main-content{
	width: 400px;
	height: 340px;
	background-color: #FFF;
	font-size: 12px;
	font-family: Arial, Helvetica;
	text-align: left;
	/*outline: 1px solid red;*/
}
/* rules for heading and paragraph text*/
.content-switcher{
	display: none;
	/*outline: 1px solid red;*/
}
/* rules for heading text */
.content-switcher .head{
	margin: none;
	font-size: 50px;
	border-bottom: none;
	width: 400px;
	margin: 0px;
	color: #00A8CB;
}
/* rules for paragraph text */
.content-switcher p{
	font-size: 22px;
	color: #707276;
	margin: 10px auto; 
}
/* rules for first text*/
.content-switcher:first-child{
	display:block;
}
/* rules for READ MORE BUTTON container*/
.content-switcher-read{
	padding-top: 10px;
	width: 400px;
	height: 100px;
	margin: auto;
	color: #00A8CB;
	display: none;
	/*outline: 1px solid red;*/
}
/* rules for READ MORE BUTTON */
.content-switcher-read a{
	text-align: center;
	height: 20px;
	font-size: 13px;
	width: 150px;
	box-shadow: 4px 4px 4px #888888;
	background-color: #00A8CB;
	border-radius: 15px;
	color: #FFF;
	text-decoration: none;
	outline: none;
	font-weight: bold;
}
/***********RULES FOR TEXT BOXES**************/
.ch-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 220px;
	height: 220px;
	display: inline-block;
	margin: 20px;
	margin-left: 60px;
	margin-right: 60px;
}
.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	cursor: default;
}

.ch-info-wrap{
	position: absolute;
	width: 180px;
	height: 180px;
	border-radius: 50%;

	-webkit-perspective: 800px;
	-moz-perspective: 800px;
	-o-perspective: 800px;
	-ms-perspective: 800px;
	perspective: 800px;

	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;

	top: 20px;
	left: 20px;
	background: #00A8CB;
	box-shadow: 
		0 0 0 20px rgba(255,255,255,0.2), 
		inset 0 0 4px rgba(115,114, 23, 0.8);
}

.ch-info{
	position: absolute;
	width: 180px;
	height: 180px;
	border-radius: 50%;

	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
		
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;

}

.ch-info > div {
	display: block;
	position: absolute;
	width: 102%;
	height: 102%;
	left: -1%;
	top: -1%;
	border-radius: 50%;
	background-position: center center;

	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}

.ch-info h1 {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 20px;
	font-weight: bold;
	margin: 0 auto;
	padding: 78px 0 0 0;
	height: 40px;
	font-family: 'Open Sans', Arial, sans-serif;
	color: white;
	text-shadow: 1px 1px #000, -1px -1px #000;
}

.ch-info .ch-info-back {
	-webkit-transform: rotate3d(0,1,0,180deg);
	-moz-transform: rotate3d(0,1,0,180deg);
	-o-transform: rotate3d(0,1,0,180deg);
	-ms-transform: rotate3d(0,1,0,180deg);
	transform: rotate3d(0,1,0,180deg);
	
	background-color: #333;
}

.ch-img-1 { 
	background-image: url(../images/10.jpg);
}

.ch-img-2 { 
	background-image: url(../images/11.jpg);
}

.ch-img-3 { 
	background-image: url(../images/12.jpg);
}

.ch-info h3 {
	color: #00A8CB;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 14px;
	font-weight: bold;
	margin: 0 15px;
	padding:50px 0 0 0;
	margin-bottom: -15px;
	height: 40px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p {
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-info p a {
	display: block;
	color: #fff;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
	color: #fff222;
	color: rgba(255,242,34, 0.8);
}

.ch-item:hover .ch-info-wrap {
	box-shadow: 
		0 0 0 0 rgba(255,255,255,0.8), 
		inset 0 0 3px rgba(115,114, 23, 0.8);
}

.ch-item:hover .ch-info {
	-webkit-transform: rotate3d(0,1,0,-180deg);
	-moz-transform: rotate3d(0,1,0,-180deg);
	-o-transform: rotate3d(0,1,0,-180deg);
	-ms-transform: rotate3d(0,1,0,-180deg);
	transform: rotate3d(0,1,0,-180deg);
}
/***********RULES FOR FOOTER**************/
/* rules for all content in footer */
.footer{
	margin: 0px auto;
	margin-top: 30px;
	padding-top: 40px;
	width: 100%;
	background-color: rgba(3,3,3,0.9);
	-moz-box-shadow:    inset  0  15px 15px -8px #696868, 
                        inset  0  15px 15px -8px #696868;
    -webkit-box-shadow: inset  0  15px 15px -8px #696868, 
                        inset  0  15px 15px -8px #696868;
     box-shadow:        inset  0  15px 15px -8px #696868, 
                        inset  0  15px 15px -8px #696868;
	color: #FFF;
	text-align: justify;
	font-size: 13px;
}
/* rules for heading in footer */
.footer .title{
	margin-left: 20%;
	padding-bottom: 10px;
	font-size:14px;
}
/* rules for subheading in footer */
.footer p{
	margin-left: 20%;
	padding-bottom: 5px;
}
/* rules for subheading elements in footer */
.footer a{
	color: rgb(198,198,198);
}
/* rules for subheading in footer while hover */
.footer a:hover{
	color: #fff;
}
/****************RULES FOR SUBFOOTER************/
.subfooter{
	margin: 0px auto;
	width: 100%;
	height: 50px;
	text-align: right;
	padding-bottom: 10px;
	font-size: 12px;
	background-color: rgba(3,3,3,0.9);
	-moz-box-shadow:    inset  0 -15px 15px -8px #696868, 
                        inset  0 -15px 15px -8px #696868;
    -webkit-box-shadow: inset  0 -15px 15px -8px #696868, 
                        inset  0 -15px 15px -8px #696868;
     box-shadow:        inset  0 -15px 15px -8px #696868, 
                        inset  0 -15px 15px -8px #696868;
	color: #FFF;
}
