/***********************************
Author: Eduardo López Arce Vivas
email: eduardo.lopezarce@gmail.com
***********************************/

/********GENERAL RULES********/
/* rules for all index*/
*{
	margin:0px auto;
	padding: 0px;
	font-family: Helvetica, arial, sans-serif;
}
/* rules for body*/
body{
	text-align:center;
}
/* rules for Anchor*/
a{
	text-decoration: none;
	outline:none;
}
/********RULES FOR TABLE WITH MENU CONTENT********/
#tabmenu{
	text-align:center;	
	background-color: rgba(3,3,3,0.9);
	-moz-box-shadow:    inset  0  15px 15px -8px #696868, 
                        inset  0 -15px 15px -8px #696868;
    -webkit-box-shadow: inset  0  15px 15px -8px #696868, 
                        inset  0 -15px 15px -8px #696868;
     box-shadow:        inset  0  15px 15px -8px #696868, 
                        inset  0 -15px 15px -8px #696868;
	position: fixed;
	z-index: 2;
}
/********RULES FOR LOGO********/
/* rules for logo*/
.logo {
	width: 150px;
	height: 80px;
	text-align: center;
	text-decoration: none;
	margin-top: 0px;
}
/* rules for logo IMAGE*/
.logo img{
	width: 150px;
	height: 80px;
}
/********RULES FOR NAVIGATION MENU********/
/* rules for all UNORDERED lists*/
ul#navmenu, ul.sub1{
	list-style-type:none;
	text-align:center;
	font-family: Helvetica, arial, sans-serif;
	font-size: 14px;
	/*outline: 1px solid red;*/
}
/* rules for MAIN LIST item*/
ul#navmenu li{
	/*border: 1px solid red;*/
	width: 24%;
	text-align: center;
	position: relative; /*very important step*/
	float: left;
	margin-right: 1%;
	margin-bottom: -10px;
}
/* rules for MAIN ANCHOR element*/
ul#navmenu a{
	font-weight: bold;
	text-decoration: none;
	display: block;
	line-height: 25px;
	color: #ddd;/*#002F64;*/
	text-align: center;		
	margin: 32px auto;
	padding-bottom: 10px;
}
/* rules for ALL ANCHOR element -> MAIN LI hover*/
ul#navmenu li:hover >a{
	color: #00A8CB;
}
/* rules for SUB unordered lists*/
ul#navmenu ul.sub1{
	display: none;
	position: absolute;
	z-index: 2;
	width: 100%;
	left: auto;
	right: auto;	
	background-color: rgba(3,3,3,0.9);
	-webkit-border-radius: 0px 15px 0px 15px;
	-moz-border-radius: 0px 15px 0px 15px;
	border-radius: 0px 15px 0px 15px;
	-moz-box-shadow:    inset  0  15px 15px -8px #696868, 
                        inset  0 -15px 15px -8px #696868;
    -webkit-box-shadow: inset  0  15px 15px -8px #696868, 
                        inset  0 -15px 15px -8px #696868;
     box-shadow:        inset  0  15px 15px -8px #696868, 
                        inset  0 -15px 15px -8px #696868;
     border-top: 10px;
}
/* rules for SUB LIST item*/
ul#navmenu .sub1 li{
	color: #FFF;
	width: 100%;
	-webkit-border-radius: 0px 15px 0px 15px;
	-moz-border-radius: 0px 15px 0px 15px;
	border-radius: 0px 15px 0px 15px;
	/**border: 1px solid green;*/
}
/* rules for SUB ANCHOR element*/
ul#navmenu .sub1 a{
	color: #FFF;
	width: 100%;
	margin: 5px auto;
	-webkit-border-radius: 0px 15px 0px 15px;
	-moz-border-radius: 0px 15px 0px 15px;
	border-radius: 0px 15px 0px 15px;
}
/* rules for SUB ANCHOR element -> SUB A and LI hover*/
ul#navmenu .sub1 li:hover a:hover{
	/*background-color: #FFF;
	width: 100%;
	box-shadow: 0 0 0 1px rgba(150,150,150,0.9) inset;*/
}
/* rules for ALL SUB elements -> MAIN LI hover*/
ul#navmenu li:hover .sub1{
	display: block;
}
/**********RULES FOR FLAGS**********/
#flags{
	margin: 0 auto;	
	/*background-repeat:no-repeat;
	position:absolute;
	padding-bottom: 50px;
	/*top: 5px;
	right: 5px;
	background-position:0 top right;*/
}
#flags a span{
	display:none;
} 
/********RULES FOR IMAGE SLIDER********/
/*rules for all the content in text and image slider*/
.wrapper{
	width: 1000px;
	margin: 0 auto;
	padding-top: 82px;
	/*outline: 1px solid red;*/
}
/*Rules for image slider container*/
#slider{
	width: 500px;
	height: 400px;
	overflow: hidden;
	margin: 0px auto;
}
/*Rules for image slider images*/
#slider > img{
	position: relative;
	z-index: 1;
	width: 495px;
	height: 400px;
	float: left;
	display: none;
}
/*Rules for previous and next button (ANCHOR)*/
.wrapper a{
	padding: 5px 0px;
	background-color: #FFF;
	margin-top: 30px;
	text-decoration: none;
	color: #666;
	outline:none;
	width: 50px;
	position: relative;
	font-size: 50px;
}
/*Rules for left button*/
.left a{
	float: left;
}
/*Rules for right button*/
.right a{
	float: right;
}
/*Rules for left button while hover*/
.left a:hover{
	font-size: 60px;
	color: #00A8CB;
}
/*Rules for right button while hover*/
.right a:hover{
	font-size: 60px;
	color: #00A8CB;
}
/***********RULES FOR TEXT SLIDER****************/
/* rules for all content in slider*/
.main-content{
	width: 400px;
	height: 340px;
	background-color: #FFF;
	font-size: 12px;
	font-family: Arial, Helvetica;
	text-align: left;
	/*outline: 1px solid red;*/
}
/* rules for heading and paragraph text*/
.content-switcher{
	display: none;
	/*outline: 1px solid red;*/
}
/* rules for heading text */
.content-switcher .head{
	margin: none;
	font-size: 50px;
	border-bottom: none;
	width: 400px;
	margin: 0px;
	color: #00A8CB;
}
/* rules for paragraph text */
.content-switcher p{
	font-size: 22px;
	color: #707276;
	margin: 10px auto; 
}
/* rules for first text*/
.content-switcher:first-child{
	display:block;
}
/* rules for READ MORE BUTTON container*/
.content-switcher-read{
	padding-top: 10px;
	width: 400px;
	height: 100px;
	margin: auto;
	color: #00A8CB;
	display: none;
	/*outline: 1px solid red;*/
}
/* rules for READ MORE BUTTON */
.content-switcher-read a{
	text-align: center;
	height: 20px;
	font-size: 13px;
	width: 150px;
	box-shadow: 4px 4px 4px #888888;
	background-color: #00A8CB;
	border-radius: 15px;
	color: #FFF;
	text-decoration: none;
	outline: none;
	font-weight: bold;
}
/***********RULES FOR TEXT BOXES**************/
/* rules for text boxes container */
#textBoxes{
	width: 1000px;
	height: 200px;
	margin: 0 auto;
	padding-left: 75px;
}
/* rules for textboxes ANCHOR*/ 
#textBoxes a{	
	padding: 0px 150px;
}
/* general rules for textboxes*/ 
#textBoxes .textBox{
	margin: 0px auto;
	margin-top: -130px;
	width: 250px;
	height: 230px;
	position: absolute;
	z-index: 1;
	border-radius: 15px;
	background-color: #00A8CB;
	-moz-box-shadow: 5px 5px 5px#696868;
	-webkit-box-shadow: 5px 5px 5px#696868;
	box-shadow: 5px 5px 5px#696868;
}
/* rules for textbox with heading and paragraph*/ 
#textBoxes .inBox1{
	padding-top: 10px;
	width: 200px;
	height: 80px;
	text-align:left;
}
/* rules for heading*/ 
#textBoxes .inBox1 h1{
	color: #fff;
	font-size: 30px;
	margin-bottom: 3px;
	text-shadow: 0px 2px 3px #555;
}
/* rules for paragraph*/ 
#textBoxes .inBox1 p{
	color: #333;
	font-size: 15px;
	text-shadow: none;
}
/* rules for textbox with image*/ 
#textBoxes .inBox2{
	width: 75px;
	height: 110px;
	text-align:left;
	color: #FFF;
}
/* rules for textbox with description*/ 
#textBoxes .inBox3{
	width: 135px;
	height: 110px;
	font-size: 14px;
	text-align:left;
	color: #333;
}
/***********RULES FOR FOOTER**************/
/* rules for all content in footer */
.footer{
	margin: 0px auto;
	margin-top: 30px;
	height: 200px;
	width: 100%;
	background: rgb(84,89,98);
	color: #FFF;
	text-align: justify;
	font-size: 13px;
}
/* rules for heading in footer */
.footer .title{
	margin-left: 20%;
	padding-bottom: 10px;
	font-size:14px;
}
/* rules for subheading in footer */
.footer p{
	margin-left: 20%;
	padding-bottom: 5px;
}
/* rules for subheading elements in footer */
.footer a{
	color: rgb(198,198,198);
}
/* rules for subheading in footer while hover */
.footer a:hover{
	color: #fff;
}
/****************RULES FOR SUBFOOTER************/
.subfooter{
	margin: 0px auto;
	width: 100%;
	height: 30px;
	font-size: 12px;
	background-color: #333;
	color: #FFF;
}
